* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    /* outline: 1px rgb(255, 0, 0) solid; */

}

:root {
    --amarrilo-color: #fdcb24;
    --marron-color: #28150e;
    --turquesa-color: #3fc0a0;
    --rojo-color: #f10e07;
    --negro-color: rgba(0, 0, 0, 0.95);
    --bg-cajas-color: #e9e9e9;

}

body {
    min-height: 100vh;
}

main {
    min-height: 70vh;
    background-color: var(--amarrilo-color);

}

main,
header {
    position: relative;
}

header {
    width: 100%;
    height: 30vh;
}


/* bannner */
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* Titulo */
h1 {
    position: absolute;
    padding: 1rem;
    z-index: 2;
    color: var(--amarrilo-color);
    font-size: 3.5rem;
    -webkit-text-stroke: 2px var(--rojo-color);
    text-shadow: -4px 1px 1px var(--turquesa-color);
    text-transform: uppercase;
    letter-spacing: -2px
}

/* Titulo de la pagina */
main h2 {
    background-color: var(--negro-color);
    width: 100%;
    color: var(--bg-cajas-color);
    text-align: center;
    padding: .5rem 0;
    margin-bottom: 2rem;

}

/* logo */
main img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
    position: absolute;
    right: 3rem;
    top: -4.5rem;
    z-index: 10;
}

.contenedor {
    display: flex;
    gap: 2rem;
}


section,
div {
    width: 100%;
    vertical-align: top;
    padding: 1rem;
}

section,
.contact {
    flex-grow: 1;
    border-radius: 1rem;
    background-color: var(--bg-cajas-color);
    margin-right: 1rem;
    box-shadow: 1px 2px 3px var(--marron-color);
    border: 1px solid var(--negro-color);
}

nav {
    min-width: 10rem;
}

nav a {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: var(--bg-cajas-color);
    background-color: var(--turquesa-color);
    border: 1px solid var(--negro-color);
    box-shadow: -1px -2px 2px var(--marron-color);
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    font-weight: 600;
}

nav a[href="#"] {
    transform: scale(1);
    font-weight: 600;
    border: 1px solid var(--bg-cajas-color);
    box-shadow: none;
    background-color: var(--negro-color);
    color: var(--bg-cajas-color);
}

section p {
    margin-bottom: 1rem;
    text-indent: 1rem;
}

a:hover {
    transform: scale(1.1);
    background-color: var(--bg-cajas-color);
    color: var(--negro-color);
}

.rules {
    text-align: center;
}

article {
    margin: 2rem;
    text-align: start;
}

article>h4,
strong,
dt {
    font-weight: 600;
    margin-bottom: 1rem;
}


li {
    margin: 1rem 0rem;
    list-style-position: inside;
}

article>p {
    text-indent: 2rem;
    margin-bottom: 2rem;
}

.age_groups li {
    margin: 0rem;
    list-style: lower-alpha;
    list-style-position: inside;
}

.all-play,
ul {
    padding-left: 1.2rem;
}

.all-play li {
    margin: 0rem;
    list-style: circle;
}

.game h3 {
    margin-bottom: 1rem;
}
table {
    margin: 1rem 0rem;
}

th {
    text-align: start;
}

td {
    padding-right: 1rem;
    padding-bottom: 1rem;
}